{
  "ESMURL": "https://sampleurl.com/esm/",
  "OutlookDefaultReply": "DQAESM-Reply-Forward",
  "ESMTemplateDefaults": {
    "PostCode": "3000",
    "State": "VIC",
    "BusinessPhone": "1800 111 111",
    "City": "Melbourne",
    "JobTitle": "Delivery Specialist",
    "Address": "123 Seasame Street"
  },
  "ESMclientId": "Insert AzureAD App ID",
  "ESMTemplatePackage": "DQAESMSignatures.zip",
  "ESMclientSecret": "Insert AzureAD Client Secret for registered app",
  "ESMtenantId": "Insert AzureAD Tenant ID",
  "SetOutlookDefaults": "True",
  "ESMSignaturePrefix": "DQAESM-",
  "ESMPackage": "DQAESM.zip",
  "ESMTemplatesURL": "https://sampleurl.com/signatures/",
  "OutlookDefaultNew": "DQAESM-New-MS"
}
